/node_modules
/hot
/storage
/certificate
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
storage/*.key
/uploads
/database-backup
phpcs.xml
modules_statuses.json
code-generator
/public
